#title {
  position:absolute;
  background-color:black;
  color:white;
  z-index:2;
  width:200px;
  text-align:center;
  margin-left:auto;
  margin-eight:auto;
}

#banner {
  width:auto;
}
  
body {
  font-family: sans-serif; 
}
